@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

#root {
  text-align: center;
}

*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.logo {
  height: 90%;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-player {
  height: 50%;
  padding: 10px;
}

.music-player::-webkit-media-controls-panel {
  background-color: #ffe19c;
}

.nav-btn,
select {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  height: 35px;
  font-size: 1.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe19c;
  border: 1px solid black;
  transition: ease 0.5s;
  text-wrap: nowrap;
}
@media screen and (min-width: 700px) {
  .nav-btn:hover,
  select:hover {
    transition: ease 0.5s;
    transform: scale(1.1);
    box-shadow: 3px 3px 5px black;
  }
}
.nav-btn:active {
  transform: scale(0.8);
}
.App-header {
  background-color: #db9d47;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 20px;
}
.heading {
  font-family: "PlayFair Display", sans-serif;
  font-weight: 400;
  color: #edffd9;
  margin: 0px;
}
.App-link {
  color: #61dafb;
}

@media screen and (max-width: 700px) {
  .nav-btn {
    font-size: 50%;
    font-weight: 500;
  }
  #top {
    display: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 11fr;
  align-items: start;
  overflow: auto;
}
.chapters {
  width: 20vw;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 11fr;
}
.chapter-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "PlayFair Display", serif;
  background-color: rgb(235, 174, 117);
  width: 100%;
  height: --webkit-fill-available;
}

.chapter-names {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.chapter-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Playfair Display", sans-serif;
  background-color: rgb(243, 194, 121);
  border-top: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.chapter-name:hover {
  background-color: rgb(226, 182, 115);
}

.reader {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 11fr;
}

.chapter-details {
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-items: center;
  height: -webkit-fill-available;
  font-size: 1.5rem;
  font-family: "Playfair Display", sans-serif;
  background-color: rgb(243, 194, 121);
}

.chapter-btns {
  display: flex;
  padding: 2px 5px;
  justify-content: space-evenly;
  align-items: center;
}

option {
  font-size: large;
}
.chapter-read {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
