.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image {
  width: 200px;
}
.body {
  margin: 0px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
